
/*-----------------------------------------------------------------fonts--------------------------------------------------------*/



@font-face {
    font-family: 'My Custom Font';
    src: url('../fonts/New Athletic M54.ttf') format("truetype");
    src: local('../fonts/New Athletic M54.ttf')format("truetype")
}

@font-face {
    font-family: 'font2';
    src: url('../fonts/Roboto-Light.ttf') format("truetype");
    src: local('../fonts/Roboto-Light.ttf')format("truetype")
}

@font-face {
    font-family: 'font3';
    src: url('../fonts/000 InsomniacOvrLrd Comic Dialogue.ttf') format("truetype");
    src: local('../fonts/000 InsomniacOvrLrd Comic Dialogue.ttf')format("truetype")
}

/*-----------------------------------------------------------------menu bar--------------------------------------------------------*/

/*.header {
    height: 50px;
}*/

#mainLogo{
  float: left;
    width: 60%;
    height: 50px;
    margin-left: 10px;
}

ul {
  height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 40px;
    text-decoration: none;
    font-size: 17px;
}

li a:hover {
    background-color: #111;
}

.menuFlights{
  /*background-image:url("image/droneicon.png");*/
  background-repeat:no-repeat;
  background-position: left;
}

.menulogo{
  /*background-image:url("image/droneicon.png");*/
}



/*-------------------------------------------------------------------------------------------------------------------------*/

.flickering {transition: color 200ms ease;}

/* The class "Blink" is set to be transparent*/
.flickering.blink {color:transparent;}

header {
  background-color: #6c8ac6;
  height: 100px;
  padding: 5px;
  border-bottom: 2px solid white;
  text-align: center;
  z-index: 999;
}



#buttonHeader {
    float: right;
    width: 80%;
    height: 50px;
}

.flightButtons{
  width: 250px;
  height: 200px;
  margin-left: 350px;
  margin-top: 70px;
  background: #91a7d4;
  background-image:url("../image/78265-200.png");
  background-repeat:no-repeat;
  background-size: 320px 320px;
  background-position: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 50px;
  border-color:  black;
  padding: 8px 10px 5px 25px;
  color: #e6e6e6;
  border-radius: 4px;

  cursor: pointer;
  float: left;
}

.reviewButtons{
  width: 250px;
  height: 200px;
  margin-left: 120px;
  margin-top: 70px;
  background: #91a7d4;
  background-image:url("../image/form_icon.png");
  background-repeat:no-repeat;
  background-size: 180px 180px;
  background-position: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 60px;
  border-color:  black;
  padding: 8px 10px 5px 25px;
  color: #e6e6e6;
  border-radius: 4px;

  cursor: pointer;
  float: left;

}

.setupButtons{
  width: 250px;
  height: 200px;
  margin-left: 520px;
  margin-top: 70px;
  background: #91a7d4;
  background-image:url("../image/icon_50757.png");
  background-repeat:no-repeat;
  background-size: 230px 230px;
  background-position: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 60px;
  border-color:  black;
  padding: 8px 10px 5px 25px;
  color: #e6e6e6;
  border-radius: 4px;

  cursor: pointer;
  float: left;

}

#title{
    text-align: center;
}

.blink {
      animation: blink 1s steps(5, start) 5;
      -webkit-animation: blink 1s steps(5, start) 5;

    }
    @keyframes blink {
      to {
        background-color: slategray;
      }
    }
    @-webkit-keyframes blink {
      to {
        background-color: blue;
      }
    }

#tblDrone {
    /*margin-left: auto;
    margin-right: auto;*/
    width: 90%;

}



.form span.required {
    color: red;
}

th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
}

td {
    border: 2px solid #dddddd;
    padding: 8px;
    text-align: center;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

tr:hover{background-color:#f5f5f5}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.mainBody {
    background: #E0E0E0;
}




#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

/*-----------------------------------------------------------------Setup page--------------------------------------------------------*/


.droneName{
  text-align: center;
}

.droneImage{
  width:400px;
  height:150px;
  margin-left: 500px;
  margin-top:1px;
  border-radius: 7px;

}

.droneCompo{

  font-family: "font3", Verdana, Tahoma;
  font-size: 80px;
}

.row1{
  display: -webkit-flex;
  display: flex;
  margin-left:100px;
}

.row2{
  display: -webkit-flex;
  display: flex;
  margin-left:270px;
}

.titleCompo{
  margin-top: 1px;
}

.titleCompo1{
  margin-top: 0.5px;
  margin-left: 50px;
  display: inline-block;
}

.sizeDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #b3f0ff;
  background-image:url("../image/size.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  font-family: "font2", Verdana, Tahoma;
  font-size: 35px;

}

.payloadDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #80e5ff;
  background-image:url("../image/weight.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  font-family: "font2", Verdana, Tahoma;
  font-size: 35px;

}

.timeDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #33d6ff;
  background-image:url("../image/time.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  font-family: "font2", Verdana, Tahoma;
  font-size: 35px;
}

.rangeDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #006280;
  background-image:url("../image/range.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  font-family: "font2", Verdana, Tahoma;
  font-size: 35px;
}

.priceDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #0086b3;
  background-image:url("../image/money.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  font-family: "font2", Verdana, Tahoma;
  font-size: 35px;
}

.nextPreview{
  width: 40px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;

}

#nextBtn{
  margin-left: 600px;
}


/*-----------------------------------------------------------------Setup form--------------------------------------------------------*/

fieldset {
    border: 2px solid #000;
    width: 520px;
    height: 350px;
    border-radius: 4px;
    margin-left: 420px;
    margin-top: 70px;
}

legend{
  font-size: 20px;
  font-family: "font2", Verdana, Tahoma;
}

.titleForm{
  font-size: 25px;
  font-family: "font2", Verdana, Tahoma;
  font-weight: bold;

}

.input-field{
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    padding: 5px;
    width: 200px;
    float:right;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #EBEBEB;
    moz-box-shadow: 1px 1px 4px #EBEBEB;
    /*
    -
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    outline: none;*/
}

.input-field:focus{
  border: 1px solid #3366FF;
}

.submitBtn{
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;
  margin-left: 220px;




}
