
/*-----------------------------------------------------------------fonts--------------------------------------------------------*/

@font-face {
    font-family: 'Roboto-Slab';
    src: url('../fonts/Roboto-Light.ttf') format("truetype");
    src: local('../fonts/Roboto-Light.ttf')format("truetype")
}

@font-face {
    font-family: 'font3';
    src: url('../fonts/000 InsomniacOvrLrd Comic Dialogue.ttf') format("truetype");
    src: local('../fonts/000 InsomniacOvrLrd Comic Dialogue.ttf')format("truetype")
}

@font-face {
    font-family: 'YanoneKaffeesatz';
    src: url('../fonts/YanoneKaffeesatz-Regular.ttf') format("truetype");
    src: local('../fonts/YanoneKaffeesatz-Regular.ttf')format("truetype")
}
/*-----------------------------------------------------------------menu bar--------------------------------------------------------*/

/*.header {
    height: 50px;
}*/

.titleNav{
margin-left: 8px;
}

.titleNavF{
margin-left: 15px;
}


ul {
  height: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 10px 16px;
    height: 45px;
    /*font-weight:bold;*/
    font-size: 22px;
    font-family: 'YanoneKaffeesatz', sans-serif;
}

.menulogo{
  padding: 13px 85px;
  background-repeat:no-repeat;
  background-position: left;
  background-image:url("../image/logo.png");
  background-repeat:no-repeat;
  background-size: 160px 90px;
}

.menulogo.hover{
  background-color: none;
}

.menuFlights{
  background-image:url("../image/droneIcon.png");
  background-repeat:no-repeat;
  background-position:1% 50%;
  background-size: 25px 25px;
}


.menuHome{
  background-image:url("../image/homeIcon.png");
  background-repeat:no-repeat;
  background-position:1% 50%;
  background-size: 20px 20px;


}

.menuSetup{

  background-image:url("../image/setupIcons.png");
  background-repeat:no-repeat;
  background-position:1% 50%;
  background-size: 20px 20px;

}

.menuReviews{

  background-image:url("../image/reviewIcon.png");
  background-repeat:no-repeat;
  background-position:1% 50%;
  background-size: 20px 20px;

}

.menuMange{
  background-image:url("../image/dbIcon.png");
  background-repeat:no-repeat;
  background-position:1% 50%;
  background-size: 20px 20px;
  text-align: right;
}

.dropdown1 {
    padding-left: 740px;
    overflow: hidden;
}

 .dropbtn {
    display: block;
    color: white;
    padding: 10px 16px;
    height: 45px;
    font-size: 22px;
    font-family: 'YanoneKaffeesatz', sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.fieldsetForm_report{
   border: 1px solid #000000;
   width: 840px;
   height: 550px;
   border-radius: 3px;
   padding: 0 1.7em 1.7em 1.7em !important;
}

.save_image{
  float: left;
  text-align: right;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 16px;
  font-weight:bold;
  width: 160px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;
  background: none;
  background-image:url("../image/download.png");
  background-repeat:no-repeat;
  background-position:8% 50%;
}

.legendForm_report{
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 20px;
  border-bottom:none;
  font-size: 24px;
  font-family: "Roboto-Slab", Verdana, Tahoma;
}


/*-----------------------------------------------------------Menu--------------------------------------------------------------*/

  #tblManage {
  width: 85%;
  margin-top: 30px;
    margin-left:120px;
/*    padding: 60px 80px;*/
  }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      max-height: 450px !important;


  }
  .carousel-caption h3 {
      color: #fff !important;
  }


.titleMenu{
  font-family: 'Days One', sans-serif;
  font-size: 50px;
  text-align: center;
}


.light{
  margin-left: 500px;
  margin-top: 40px;
}

svg {
    display:inline-block;
}

.blink {
      animation: blink 1s steps(5, start) 5;
      -webkit-animation: blink 1s steps(5, start) 5;

    }
    @keyframes blink {
      to {
        background-color: slategray;
      }
    }
    @-webkit-keyframes blink {
      to {
        background-color: blue;
      }
    }

.blinkError {
      font-color: white
      background-color: red
      animation: blinkError 1s steps(5, start) 5;
      -webkit-animation: blinkError 1s steps(5, start) 5;

    }
    @keyframes blinkError {
      to {
        background-color: red;
      }
    }
    @-webkit-keyframes blinkError {
      to {
        background-color: blue;
      }
    }


/*.flightButtons{
  width: 200px;
  height: 150px;
  margin-left: 150px;
  margin-top: 10px;
  background-color: rgba(0, 134, 179,0.4);
  background-image:url("../image/78265-200.png");
  background-repeat:no-repeat;
  background-size: 200px 200px;
  background-position: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 30px;
  border-color:  black;
  *//*padding: 8px 10px 5px 25px;*//*
  color: #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}*/

/*.reviewButtons{
  width: 200px;
  height: 150px;
  margin-left: 50px;
  margin-top: 10px;
  background-color: rgba(0, 134, 179,0.4);
  background-image:url("../image/form_icon.png");
  background-repeat:no-repeat;
  background-size: 140px 140px;
  background-position: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 30px;
  border-color:  black;
  *//*padding: 8px 10px 5px 25px;*//*
  color: #e6e6e6;
  border-radius: 4px;

  cursor: pointer;
  float: left;

}

.setupButtons{
  width: 200px;
  height: 150px;
  margin-left: 50px;
  margin-top: 10px;
  background-color: rgba(0, 134, 179,0.4);
  background-image:url("../image/icon_50757.png");
  background-repeat:no-repeat;
  background-size: 180px 180px;
  background-position: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 30px;
  border-color:  black;
  *//*padding: 8px 10px 5px 25px;*//*
  color: #e6e6e6;
  border-radius: 4px;

  cursor: pointer;
  float: left;

}

.dbButtons{
  width: 200px;
  height: 150px;
  margin-left: 50px;
  margin-top: 10px;
  background-color: rgba(0, 134, 179,0.4);
  background-image:url("../image/db.png");
  background-repeat:no-repeat;
  background-size: 120px 120px;
  background-position: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 30px;
  border-color:  black;
  *//*padding: 8px 10px 5px 25px;*//*
  color: #e6e6e6;
  border-radius: 4px;

  cursor: pointer;
  float: left;
}*/

#title{
    text-align: center;
}

.light_text{
    font-family: 'YanoneKaffeesatz', sans-serif;
    font-size: 25px;
    font-weight:bold;
}
/*-----------------------------------------------------------Flight--------------------------------------------------------------*/

.mainBodyFlight{
  background-image:url("../image/background.jpg");
  background-repeat:no-repeat;
  /*background-size: 1400px 650px;*/
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainBodyFlight1{
  background-image:url("../image/background.jpg");
  background-repeat:no-repeat;
  background-size: 1600px 750px;
}

header {
  background-color: #6c8ac6;
  height: 100px;
  padding: 5px;
  border-bottom: 2px solid white;
  text-align: center;
  z-index: 999;
}

#tblDrone {
    /*margin-left: auto;
    margin-right: auto;*/
    width: 90%;
    margin-left: 50px;

}

#title_page{
  font-family: 'Roboto-Slab', sans-serif;
  font-weight:bold;
  margin-left: 550px;
  margin-top: 40px;
  font-size: 35px;

}



th {
    border: 3px solid #4c4c34;
    text-align: center;
    padding: 8px;

}

td {
    border: 3px solid #4c4c34;
    padding: 8px;
    text-align: center;
    background-color: #ffffff;
}

.errorTd {
    border: 3px solid #4c4c34;
    padding: 8px;
    text-align: center;
    background-color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.mainBody {
  background-image:url("../image/background.jpg");
  background-repeat:no-repeat;
 background-size: 3500px 1700px;
    /*background: #e6f2ff;*/
}

.add_comment{
    float: right;
    height: 20px;
    width: 30px;
    background: none;
    background-image:url("../image/add_comment1.png");
    background-repeat:no-repeat;
    background-size: 25px 20px;
    border: none;

}

#btn_Add_Comment{
float: left;
}

#text_area{
    overflow: auto;
    resize: none;
    width: 100%;
    height: 160px;
    border: none;
}

.addComment_Btn{
  float: left;
  text-align: right;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 16px;
  font-weight:bold;
  width: 90px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;
  background: none;
  background-image:url("../image/add_item.png");
  background-repeat:no-repeat;
  background-position:8% 50%;
}

.fieldsetForm_addComment{
   border: 1px solid #000000;
   width: 860px;
   height: 280px;
   border-radius: 3px;
   padding: 0 1.7em 1.7em 1.7em !important;
}



/*-----------------------------------------------------------------Progress Bar--------------------------------------------------------*/

#myProgress {
  width: 100%;

}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

/*-----------------------------------------------------------------Setup page--------------------------------------------------------*/

.droneName{
  text-align: center;
  font-family: 'YanoneKaffeesatz', sans-serif;
  font-size: 60px;
  position: relative;
  margin-top: 0.5px;
}

.droneImage{
position: absolute;
  width:400px;
  height:150px;
  margin-left: 450px;
  margin-top:15px;

}

.droneCompo{
  font-family: "font3", Verdana, Tahoma;
  font-size: 80px;

}

.row1{
  display: -webkit-flex;
  display: flex;
  margin-top: 50px;
  margin-left:150px;
}

.row2{
  display: -webkit-flex;
  display: flex;
  margin-left:300px;
}

.title_header{
  display: -webkit-flex;
  display: flex;
  margin-left:650px;
}

.btn_option{
margin-left:370px;
}

.allOption_btn{
    background: #ccccff;
    text-align: center;
    font-family: "Roboto-Slab", Verdana, Tahoma;
    font-size: 16px;
    font-weight:bold;
    width: 140px;
    height: 45px;
    border-radius: 4px;
    border: 2px solid #2e2e1f;
    margin-left: 180px;
}

.titleCompo{
  margin-top: 0.2px;
   font-family: 'YanoneKaffeesatz', sans-serif;
  font-size: 60px;

}

.titleMotor{
  font-family: 'YanoneKaffeesatz', sans-serif;
  position:relative;
  margin-top: 1px;
  margin-left: 880px;
  font-size: 40px;


}

.titleBatt{
  font-family: 'YanoneKaffeesatz', sans-serif;
  position:relative;
  display: inline-block;
  margin-top: 1px;
  margin-left: 880px;
  font-size: 40px;
}

.titleProp{
  font-family: 'YanoneKaffeesatz', sans-serif;
  position:relative;
  display: inline-block;
  margin-top: 1px;
  margin-left: 880px;
  font-size: 40px;
}

.sizeDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #b3f0ff;
  background-image:url("../image/size.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  font-family: 'YanoneKaffeesatz', sans-serif;
  border-radius: 9px;

}

.payloadDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #80e5ff;
  background-image:url("../image/weight.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  border-radius: 9px;

}

.timeDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #33d6ff;
  background-image:url("../image/time.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  border-radius: 9px;
}

.rangeDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #006280;
  background-image:url("../image/range.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  border-radius: 9px;
}

.priceDiv{
  width: 400px;
  height: 100px;
  border: 2px solid #e6e6e6;
  background-color: #0086b3;
  background-image:url("../image/money.png");
  background-repeat:no-repeat;
  background-position:95% 80%;
  border-radius: 9px;
}

.nextPreview{
  background: #ccccff;
  width: 80px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;

}

#nextBtn{
  margin-left: 650px;
  margin-top: 25px;

}



/*-----------------------------------------------------------------Setup form--------------------------------------------------------*/

.mainBodyForm{
  background-image:url("../image/background.jpg");
  background-repeat:no-repeat;
  background-size: 1400px 650px;
}

.fieldsetForm {
   border: 2px solid #000;
   width:520px;
   height: 450px;
   border-radius: 4px;
   padding: 0 1.4em 1.4em 1.4em !important;
   margin-left: 70px;
   margin-top: 60px;
}


.legendForm{
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 20px;
  border-bottom:none;
  font-size: 20px;
  font-family: "Roboto-Slab", Verdana, Tahoma;


}

.titleForm{
  font-size: 18px;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-weight: bold;
}

.input-field{
    text-align-last:center;
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    padding: 5px;
    width: 200px;
    float:right;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #EBEBEB;
    moz-box-shadow: 1px 1px 4px #EBEBEB;
}

.input-field:focus{
  border: 1px solid #3366FF;
}

.submitBtn{
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;
  margin-left: 180px;


}

/*-----------------------------------------------------------------Management--------------------------------------------------------*/

#tableTabs{

}


.addItemSingle_btn,
.addItemMulti_btn
{
    text-align: right;
    margin-left: 5x;
    margin-top: 5px;
    border-radius: 4px;
    border: 2px solid #2e2e1f;
    font-family: "Roboto-Slab", Verdana, Tahoma;
    font-size: 16px;
    font-weight:bold;
    background: none;
    background-image:url("../image/add_item.png");
    background-repeat:no-repeat;
    background-position:5% 50%;
    border: none;

}

.addItemSingle_btn{
    height: 40px;
    width: 160px;
}

.addItemMulti_btn{
    height: 40px;
    width: 255px;
}

#update_Btn{
    height: 20px;
    width: 20px;
    margin-left: 5x;
    margin-top: 5px;
    background: none;
    background-image:url("../image/update.png");
    background-repeat:no-repeat;
    /*background-size: 20px 20px;*/
    border: none;
}

#delete_Btn{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background: none;
    background-image:url("../image/delete.png");
    background-repeat:no-repeat;
   /* background-size: 20px 20px;*/
    border: none;
}


#wait_dialog {
  display = none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


  .delete_btn{
    height: 30px;
    width: 30px;
    background: none;
    background-image:url("../image/delete.png");
    background-repeat:no-repeat;
    border: none;
  }

  .delete_record_btn{
  text-align: right;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 16px;
  font-weight:bold;
  width: 90px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;
    background: none;
  background-image:url("../image/delete_record.png");
  background-repeat:no-repeat;
  background-position:8% 50%;
  }

  .cancel_btn{
  float: right;
  text-align: right;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 16px;
  font-weight:bold;
  width: 90px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #2e2e1f;
  background: none;
  background-image:url("../image/back.png");
  background-repeat:no-repeat;
  background-position:8% 50%;
  }
/*  .modal-content{
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 1500px;

  }*/

  .update_btn{
   height: 30px;
    width: 30px;
    margin-left: 50px;
    background: none;
    background-image:url("../image/update.png");
    background-repeat:no-repeat;
    border: none;
  }

  .fieldsetForm1 {
   border: 1px solid #000000;
   width: 560px;
   height: 280px;
   border-radius: 3px;
   padding: 0 1.7em 1.7em 1.7em !important;
  /* margin-left: 70px;
   margin-top: 60px;*/
}

  .fieldsetForm_add {
   border: 1px solid #000000;
   width: 270px;
   height: 130px;
   border-radius: 3px;
   padding: 0 1.4em 1.4em 1.4em !important;
}

.fieldsetForm_addBatt{
   border: 1px solid #000000;
   width: 560px;
   height: 420px;
   border-radius: 3px;
   padding: 0 1.7em 1.7em 1.7em !important;
}

.fieldsetForm_editBatt{
   border: 1px solid #000000;
   width: 560px;
   height: 460px;
   border-radius: 3px;
   padding: 0 1.7em 1.7em 1.7em !important;
}

.fieldsetForm_addProp,
.fieldsetForm_editMotor
{
border: 1px solid #000000;
   width: 560px;
   height: 330px;
   border-radius: 3px;
   padding: 0 1.7em 1.7em 1.7em !important;
}

.legendForm1{
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 20px;
  border-bottom:none;
  font-size: 15px;
  font-family: "Roboto-Slab", Verdana, Tahoma;
}
.fieldsetForm_delete_record{
   border: 1px solid #000000;
   width: 570px;
   height: 130px;
   border-radius: 3px;
   padding: 0 1.4em 1.4em 1.4em !important;
}



.addBtn{
  text-align: left;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 16px;
  font-weight:bold;
  width: 85px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #2e2e1f;
  margin-left: 180px;
  background: none;
  background-image:url("../image/add.png");
  background-repeat:no-repeat;
  background-position:95% 50%;
}

.addBtn_multi{
  text-align: left;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 16px;
  font-weight:bold;
  width: 80px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #2e2e1f;
  margin-left: 80px;
  margin-top: 15px;
  background: none;
  background-image:url("../image/add.png");
  background-repeat:no-repeat;
  background-position:95% 50%;
}

.load_file{
margin-left: 30px;
}

.saveBtn{
  text-align: left;
  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 16px;
  font-weight:bold;
  width: 85px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #2e2e1f;
  margin-left: 180px;
  background: none;
  background-image:url("../image/save.png");
  background-repeat:no-repeat;
  background-position:95% 50%;
}

/*-----------------------------------------------------------------Reviews--------------------------------------------------------*/

#title_review_page{
  font-family: 'Roboto-Slab', sans-serif;
  font-weight:bold;
  margin-left: 650px;
  font-size: 35px;
}

.drone_review{
border: 1px solid black;
}

.report_btn{
    height: 30px;
    width: 30px;
    background: none;
    background-image:url("../image/report_icon.png");
    background-repeat:no-repeat;
    background-size: 25px 25px;
    border: none;
}

.log_btn{
    height: 30px;
    width: 30px;
    background: none;
    background-image:url("../image/log_btn.png");
    background-repeat:no-repeat;
    background-size: 25px 25px;
    border: none;
}

 input:required:invalid, input:focus:invalid {
    background-image: url("../image/close-button.png");
    background-position:95% 50%;
    background-repeat: no-repeat;
  }
  input:required:valid {
    background-image: url("../image/checked-symbol.png");
    background-position:95% 50%;
    background-repeat: no-repeat;
  }

/*-----------------------------------------------------------------Review Report--------------------------------------------------------*/


.row1_modal{
  display: -webkit-flex;
  display: flex;
  margin-top: 10px;
  margin-left:15px;
}

#Modal_totalFlight,
#Modal_totalErrors,
#Modal_totalTime,
#Modal_maxTime
{
text-align:center;
  width: 200px;
  height: 60px;
  border: 2px solid #333333;
/* background-image:url("../image/background.jpg");
  background-repeat:no-repeat;*/
 /* background: linear-gradient(to right, #83a4d4, #b6fbff);*/

  font-family: "Roboto-Slab", Verdana, Tahoma;
  font-size: 18px;
  border-radius: 3px;
  position:relative;
}

#Modal_totalErrors,
#Modal_totalTime,
#Modal_maxTime
{
margin-left: 15px;
}

.modalTitle{
font-weight:bold;
}

.modalTitle_tbl{
background: #e6e6e6;
}

    .dt-button.orange {
    height: 40px;
    width: 40px;
    background: none;
    background-image:url("../image/pdf.png");
    background-repeat:no-repeat;
    background-size: 40px 40px;
    border: none;
    }

    .dt-button.orange:hover {
    height: 40px;
    width: 40px;
    background: none;
    background-image:url("../image/pdf.png");
    background-repeat:no-repeat;
    background-size: 40px 40px;
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
}


#modal-header{
    background-color:#009933;
    height: 50px;
    background-image:url("../image/check-circle-green-512.png");
    background-repeat:no-repeat;
    background-size: 35px 35px;
    background-position:3% 63%;
}

#success_title
{
    font-family: 'YanoneKaffeesatz', sans-serif;
    font-size:30px;
    font-color:#003366;
    margin-left: 40px;
}

#success_body{
    font-family: 'YanoneKaffeesatz', sans-serif;
    font-size:20px;
    font-color:#003366;
    margin-left: 200px;
}

#modal-header1{
    background-color:#ff4d4d;
    height: 50px;
    background-image:url("../image/delete-98512_960_720.png");
    background-repeat:no-repeat;
    background-size: 35px 35px;
    background-position:3% 63%;
}

#failure_title{
    font-family: 'YanoneKaffeesatz', sans-serif;
    font-size:30px;
    font-color:#003366;
    margin-left: 40px;


}

.result_body{
    font-family: 'YanoneKaffeesatz', sans-serif;
    font-size:20px;
    font-color:#003366;
    margin-left: 150px;
}

#summery_title{
    font-family: 'YanoneKaffeesatz', sans-serif;
    font-size:30px;
    font-color:#003366;
    margin-left: 40px;
}

#modal-header2{
    background-color:#b3e0ff;
    height: 50px;
    background-image:url("../image/info.png");
    background-repeat:no-repeat;
    background-size: 35px 35px;
    background-position:3% 63%;
}

#summery_body{
margin-left:5px;
    font-family: 'YanoneKaffeesatz', sans-serif;
    font-size:20px;
    font-color:#003366;
    weight:150px;
    border: none;
}




