<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Log Review</title>
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index/drone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/jquery-ui.min.css' %}" />    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'index/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index/bootstrap-theme.css' %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="{% static 'index/jquery.min.js' %}"></script>
    <script src="{% static 'index/bootstrap.min.js' %}"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
	<!--<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cuprum|Days+One|Montserrat|Numans|Philosopher|Roboto+Mono|Roboto+Slab|Yeseva+One" rel="stylesheet">-->
</head>
<body class="mainBodyFlight">

<nav>
      <ul>
        <li><a class="menulogo" href="{% url 'index:index' %}"> </a></li>
        <li><a class="menuHome" href="{% url 'index:index' %}"><span class= "titleNav">Home</span></a></li>
        <li><a class="menuFlights" href="{% url 'flight_monitor:flight_monitor' %}"><span class= "titleNavF">Flights</span> </a></li>
        <li><a class="menuReviews" href="{% url 'reviews:reviews' %}"><span class= "titleNav">Reviews</span></a></li>
        <li><a class="menuSetup" href="{% url 'drone_setup:drone_setup' %}"><span class= "titleNav">Setup</span></a></li>
        <li><a class="menuMange" href="{% url 'management:management' %}"><span class= "titleNav">Management</span></a></li>
      </ul>
  </nav>

`<h1 class= "comingSoon">This will be a reviews page..</h1>
`<table id = "drone_review" class="table table-striped table-condensed">
    <tr >
      <th>start time</th>
      <th>end time</th>
      <th>log path</th>
      <th>status</th>
      <th>
        <select id= "drone_id", name="drone_id" class="input-field" >
            <option value=''>drone id</option>
            {% for value in drone_ids %}
              <option value= "{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
      </th>
    </tr>
    {% for key, value in result.items %}
      <tr >
        <td>{{ value.start_flight_time }}</td>
        <td>{{ value.end_flight_time }}</td>
        <td>{{ value.log_file_path }}</td>
        <td>{{ value.state }}</td>
        <td>{{ value.drone_num }}</td>
      </tr>
    {% endfor %}
  </table>

</body>
</html>
