
    <table id = "drone_review" class="table table-striped table-condensed">
      <tr >
                <th>
          <select id= "drone_id" name="drone_id" class="input-field" >
              <option value=''>Drone ID</option>
              {% for value in drone_ids %}
                <option value= "{{ value }}">{{ value }}</option>
              {% endfor %}
            <!--{% csrf_token %}-->
          </select>
        </th>
        <th>
          <div style="margin-right: 3px;">
            <div style="padding-right: 3px;">
                <input id="start_time" class="textbox-n" type="text" onfocus="this.type = 'date'" onblur="this.type = 'text'" placeholder="Flight Start Date" onchange="sort_results('start_flight_time',this.value)" style="width:100%;">
            </div>
          </div>
        </th>
        <th>
          <div style="margin-right: 3px;">
            <div style="padding-right: 3px;">
                <input id="end_time" class="textbox-n" type="text" onfocus="this.type = 'date'" onblur="this.type = 'text'" placeholder="Flight End Date" onchange="sort_results('end_flight_time',this.value)" style="width:100%;">
            </div>
          </div>
        </th>
        <th>
          <div style="margin-right: 3px;">
            <div style="padding-right: 3px;">
                <input id="duration" class="textbox-n" type="text" placeholder="Duration" onchange="sort_results('duration',this.value)" style="width:100%;">
            </div>
          </div>
        </th>
        <th>Flight Log</th>
        <th>
            <select id= "drone_states" name="drone_states" class="input-field" >
              <option value=''>Status</option>
              {% for value in drone_states %}
                <option value= "{{ value }}">{{ value }}</option>
              {% endfor %}
            <!--{% csrf_token %}-->
          </select>
        </th>

        <th>Drone Report</th>
      </tr>
      {% for key, value in result.items %}
        <tr >
          <td>{{ value.drone_num }}</td>
          <td>{{ value.start_flight_time }}</td>
          <td>{{ value.end_flight_time }}</td>
          <td>{{ value.duration }}</td>
          <td><a class="click-to-show" href="#" data-toggle="modal" data-target="#modalLogsPopUp" onclick="showPopUpForReview('{{ key }}')">Show Flight Log</a></td>
          <td>{{ value.state }}</td>

          <td><a class="click-to-show" href="#" data-toggle="modal" data-target="#modalLogsPopUp" onclick="showReportPopUpForReview('{{ value.drone_num }}')">SHOW Drone Report</a></td>
        </tr>`
      {% endfor %}
    </table>

