<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Management</title>
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index/drone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/jquery-ui.min.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'index/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index/bootstrap-theme.css' %}">
    <script src="{% static 'index/jquery.min.js' %}"></script>
    <script src="{% static 'index/bootstrap.min.js' %}"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
	<!--<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cuprum|Days+One|Montserrat|Numans|Philosopher|Roboto+Mono|Roboto+Slab|Yeseva+One" rel="stylesheet">-->
</head>
<body class="mainBodyFlight">

<nav>
      <ul>
        <li><a class="menulogo" href="{% url 'index:index' %}"> </a></li>
        <li><a class="menuHome" href="{% url 'index:index' %}"><span class= "titleNav">Home</span></a></li>
        <li><a class="menuFlights" href="{% url 'flight_monitor:flight_monitor' %}"><span class= "titleNavF">Flights</span> </a></li>
        <li><a class="menuReviews" href="{% url 'reviews:reviews' %}"><span class= "titleNav">Reviews</span></a></li>
        <li><a class="menuSetup" href="{% url 'drone_setup:drone_setup' %}"><span class= "titleNav">Setup</span></a></li>
        <li><a class="menuMange" href="{% url 'management:management' %}"><span class= "titleNav">Management</span></a></li>
      </ul>
  </nav>


<div class="container">


  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#menu1">Motor</a></li>
    <li><a data-toggle="tab" href="#menu2">Battery</a></li>
    <li><a data-toggle="tab" href="#menu3">Prop</a></li>
  </ul>

  <div class="tab-content">

    <div id="menu1" class="tab-pane fade">
      <table >
  <tr >
    <th>ID</th>
    <th>Name</th>
    <th>KV</th>
    <th>Weight</th>
    <th>Price</th>
    <th>Update/Delete</th>
  </tr>
</table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <table >
  <tr >
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Volt</th>
    <th>Dischage rate</th>
    <th>Capacity</th>
    <th>Weight</th>
    <th>Price</th>
    <th>Update/Delete</th>
  </tr>
</table>
    </div>
    <div id="menu3" class="tab-pane fade">
      <table >
  <tr >
    <th>ID</th>
    <th>Name</th>
    <th>Diameter</th>
    <th>Speed</th>
    <th>Weight</th>
    <th>Price</th>
    <th>Update/Delete</th>
  </tr>
</table>
    </div>
  </div>
</div>


</body>
</html>
