<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Management</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'index/drone.css' %}">
      <script src="{% static 'index/jquery.min.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'index/jquery-ui.min.css' %}" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'index/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'index/bootstrap-theme.css' %}">
      <script src="{% static 'index/bootstrap.min.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'index/DataTables/datatables.min.css' %}"/>

      <script type="text/javascript" src="{% static 'index/DataTables/datatables.min.js' %}"></script>

  </head>
  <body id="body" class="mainBodyFlight">

    <nav>
        <ul>
          <li><a class="menulogo" href="{% url 'index:index' %}"> </a></li>
          <li><a class="menuHome" href="{% url 'index:index' %}"><span class= "titleNav">Home</span></a></li>
          <li><a class="menuFlights" href="{% url 'flight_monitor:flight_monitor' %}"><span class= "titleNavF">Flights</span> </a></li>
          <li><a class="menuReviews" href="{% url 'reviews:reviews' %}"><span class= "titleNav">Reviews</span></a></li>
          <li><a class="menuSetup" href="{% url 'drone_setup:drone_setup' %}"><span class= "titleNav">Setup</span></a></li>
          <li><a class="menuMange" href="{% url 'management:management' %}"><span class= "titleNav">Management</span></a></li>
        </ul>
    </nav>

    <div id="loader"></div>

    <div class="btn-group">

      <ul class="dropdown-menu" role="menu">
        <li><a href="#" onclick="add_single_item('{{ table }}')">Single Item</a></li>
        <li><a href="#" onclick="add_multiple_items('{{ table }}')">Multiple Items</a></li>
      </ul>
    </div>

    <div class="container">

      <ul id="tableTabs" class="nav nav-tabs">
        <li id="motorTab"><a data-toggle="tab" href="#motor">Motor</a></li>
        <li id="batTab"><a data-toggle="tab" href="#battery">Battery</a></li>
        <li id="propTab"><a data-toggle="tab" href="#prop">Prop</a></li>
      </ul>

    <div id="updateContainer">
      <div id="tableContainer" class="tab-content">
        <div id="motor" class="tab-pane fade in active">
          <button class="btn btn-primary" onclick="motor_add_single_pop_up()">Add Single Item</button>

          <button class="btn btn-primary" onclick="motor_add_multi_pop_up()">Add Multiple Items (CSV File)</button>

          <table id="tblmotor" class="table table-striped table-condensed table-bordered table-hover" cellspacing="0">
            <thead>
            <tr style="text-align-last:center;" >
              <th>ID</th>
              <th>Name</th>
              <th>KV</th>
              <th>Weight</th>
              <th>Price</th>
              <th>Update/Delete</th>
            </tr>
            </thead>
          </table>
        </div>
        <div id="battery" class="tab-pane fade">
          <button class="btn btn-primary" onclick="bat_add_single_pop_up()">Add Single Item</button>

          <button class="btn btn-primary" onclick="bat_add_multi_pop_up()">Add Multiple Items (CSV File)</button>
          <table id="tblbattery" class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr style="text-align-last:center;" >
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Volt</th>
              <th>Discharge Rate</th>
              <th>Capacity</th>
              <th>Weight</th>
              <th>Price</th>
              <th>Update/Delete</th>
            </tr>
            </thead>
          </table>
        </div>
        <div id="prop" class="tab-pane fade">
          <button class="btn btn-primary" onclick="prop_add_single_pop_up()">Add Single Item</button>

          <button class="btn btn-primary" onclick="prop_add_multi_pop_up()">Add Multiple Items (CSV File)</button>
          <table id="tblprop" class="table table-striped table-condensed table-bordered table-hover">
            <tr style="text-align-last:center;" >
              <th>ID</th>
              <th>Name</th>
              <th>Diamete</th>
              <th>Speed</th>
              <th>Weight</th>
              <th>Price</th>
              <th>Update/Delete</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class="modal fade" id="motor_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-body">
            <button class="close" data-dismiss="modal">×</button>
              <fieldset class ="fieldsetForm_editMotor">
                <legend class ="legendForm1">Edit motor</legend>
              <form class="form-horizontal" role="form" action="javascript:void(0);">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="motor_id" class="titleForm">Motor ID</label>
                        <input type="number" class="input-field" id="motor_id" readonly="readonly" value="" disabled/>
                  </div>
                  <div class="form-group">
                    <label for="motor_name" class="titleForm" >Motor Name</label>
                        <input type="text" class="input-field" id="motor_name" required />
                  </div>
                  <div class="form-group">
                    <label for="motor_kv" class="titleForm" >KV</label>
                        <input type="number" step="0.1" class="input-field" id="motor_kv" required pattern="[0-9]+" />
                  </div>
                  <div class="form-group">
                    <label for="motor_weight" class="titleForm" >Weight</label>
                        <input type="number" step="0.1" class="input-field" id="motor_weight" required pattern="[0-9]+" />
                  </div>
                  <div class="form-group">
                    <label for="motor_price" class="titleForm" >Price</label>
                        <input type="number" step="0.1" class="input-field" id="motor_price" required pattern="[0-9]+" />
                  </div>
                  <div class="form-group">
                      <button type="submit" class="saveBtn" onclick="update_motor_table(motor_id.value, motor_name.value, motor_kv.value, motor_weight.value, motor_price.value)">Save</button>
                    </div>
                </form>
                   </fieldset>
          </div>
        </div>
      </div>
    </div>
    <!--motor add single modal-->
    <div class="modal fade" id="motor_add_single_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            <button class="close" data-dismiss="modal">×</button>
              <fieldset class ="fieldsetForm1">
                <legend class ="legendForm1">Add new motor</legend>
              <form class="form-horizontal" role="form" action="javascript:void(0);">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="add_single_motor_name" class="titleForm" >Motor Name</label>
                        <input type="text" class="input-field" id="add_single_motor_name" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_motor_kv" class="titleForm" >KV</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_motor_kv" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_motor_weight" class="titleForm" >Weight</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_motor_weight" required pattern="[0-9]+" />
                  </div>
                  <div class="form-group">
                    <label for="add_single_motor_price" class="titleForm" >Motor Price</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_motor_price" required pattern="[0-9]+" />
                  </div>
                  <div class="form-group">
                      <button type="submit" class="addBtn" onclick="add_single_to_motor_table(add_single_motor_name.value, add_single_motor_kv.value, add_single_motor_weight.value, add_single_motor_price.value)">Add</button>
                    </div>
                </form>
                   </fieldset>
          </div>
        </div>
      </div>
    </div>
    <!--motor add multi-->
    <div class="modal fade" id="motor_add_multi_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
             <div class="modal-body">
            <button class="close" data-dismiss="modal">×</button>
                 <fieldset class ="fieldsetForm_add">
                     <legend class ="legendForm1">Add new motor</legend>
              <form class="form-horizontal" role="form" action="javascript:void(0);" id="motor_add_multi_form">
                {% csrf_token %}
                  <div class="load_file">
                  <label ><input type="file" id="motor_add_multi_file" hidden></label>
                      </div>
                  <div class="form-group">
                      <button type="submit" class="addBtn_multi" onclick="add_multi_to_motor_table(motor_add_multi_file.files)">Add</button>
                  </div>
                </form>
                      </fieldset>
          </div>
        </div>
      </div>
    </div>



    <!--bat update modal-->
    <div class="modal fade" id="bat_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-body">
                 <button class="close" data-dismiss="modal">×</button>
              <fieldset class ="fieldsetForm_editBatt">
                <legend class ="legendForm1">Edit Battery</legend>
              <form class="form-horizontal" role="form" action="javascript:void(0);">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="bat_id"  class="titleForm">Battery ID</label>
                        <input type="number" class="input-field" id="bat_id" readonly="readonly" value="" disabled/>
                  </div>
                  <div class="form-group">
                    <label for="bat_name"  class="titleForm" >Battery Name</label>
                        <input type="text" class="input-field" id="bat_name" required />
                  </div>
                  <div class="form-group">
                    <label for="bat_volt"  class="titleForm" >Volt</label>
                        <input type="number" step="0.1" class="input-field" id="bat_volt" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="bat_type"  class="titleForm" >Type</label>

                         <select id= "bat_type", name="drone_type" class="input-field" required >
                            <option value=''>--Please select--</option>
                            <option value= "LiPo"> LiPo</option>
                            <option value= "LiNP"> LiNP</option>
                            <option value= "NiCd"> NiCd</option>
                            <option value= "NiMH"> NiMH</option>
                        </select>
                  </div>
                  <div class="form-group">
                    <label for="bat_discharge_rate"  class="titleForm" >Discharge Rate</label>
                        <input type="number" step="0.1" class="input-field" id="bat_discharge_rate" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="bat_capacity"  class="titleForm" >Capacity</label>
                        <input type="number" step="0.1" class="input-field" id="bat_capacity"required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="bat_weight"  class="titleForm" >Weight</label>
                        <input type="number" step="0.1" class="input-field" id="bat_weight" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="bat_price"  class="titleForm" >Price</label>
                        <input type="number" step="0.1" class="input-field" id="bat_price" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="saveBtn" onclick="update_bat_table(bat_id.value, bat_name.value, bat_volt.value, bat_type.value, bat_discharge_rate.value, bat_capacity.value, bat_weight.value, bat_price.value)">Save</button>
                  </div>
                </form>
               </fieldset>
          </div>
        </div>
      </div>
    </div>

    <!--bat add single modal-->
    <div class="modal fade" id="bat_add_single_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            <button class="close" data-dismiss="modal">×</button>
            <fieldset class ="fieldsetForm_addBatt">
                <legend class ="legendForm1">Add new battery</legend>

              <form class="form-horizontal" role="form" action="javascript:void(0);">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="add_single_bat_name" class="titleForm" >Battery Name</label>
                        <input type="text" class="input-field" id="add_single_bat_name" required/>
                  </div>
                  <div class="form-group">

                       <label for="add_single_bat_type"  class="titleForm" >Battery Type</label>

                         <select id= "add_single_bat_type", name="drone_type" class="input-field" required >
                            <option value=''>--Please select--</option>
                            <option value= "LiPo"> LiPo</option>
                            <option value= "LiNP"> LiNP</option>
                            <option value= "NiCd"> NiCd</option>
                            <option value= "NiMH"> NiMH</option>
                        </select>
                  </div>
                  <div class="form-group">
                    <label for="add_single_bat_volt" class="titleForm" >Volt</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_bat_volt" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_bat_discharge_rate" class="titleForm" >Discharge Rate</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_bat_discharge_rate" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_bat_capacity" class="titleForm" >Capacity</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_bat_capacity" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_bat_weight" class="titleForm" >Weight</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_bat_weight" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_bat_price" class="titleForm" >Motor Price</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_bat_price" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="addBtn" onclick="add_single_to_bat_table(add_single_bat_name.value, add_single_bat_type.value, add_single_bat_volt.value, add_single_bat_discharge_rate.value, add_single_bat_capacity.value, add_single_bat_weight.value, add_single_bat_price.value)">Add</button>
                  </div>
                </form>
                 </fieldset>
          </div>
        </div>
      </div>
    </div>


    <!--bat add multi-->
    <div class="modal fade" id="bat_add_multi_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <div class="modal-body">
            <button class="close" data-dismiss="modal">×</button>
                 <fieldset class ="fieldsetForm_add">
                     <legend class ="legendForm1">Add new Batteries</legend>
              <form class="form-horizontal" role="form" action="javascript:void(0);" id="bat_add_multi_form">
                  {% csrf_token %}
                 <div class="load_file">
                  <label ><input type="file" id="bat_add_multi_file" hidden></label>
                 </div>
                  <div class="form-group">
                      <button type="submit" class="addBtn_multi" onclick="add_multi_to_bat_table(bat_add_multi_file.files)">Add</button>
                    </div>
                </form>
                      </fieldset>
          </div>
        </div>
      </div>
    </div>

         </div>


        <!--prop update modal-->
    <div class="modal fade" id="prop_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-body">
            <button class="close" data-dismiss="modal">×</button>
                 <fieldset class ="fieldsetForm_addBatt">
                <legend class ="legendForm1">Edit Propeller</legend>
              <form class="form-horizontal" role="form" action="javascript:void(0);">
                {% csrf_token %}
                  <div class="form-group">
                    <label  for="prop_id">Propeller ID</label>
                        <input type="number" class="input-field" id="prop_id" readonly="readonly" value="" disabled/>
                  </div>
                  <div class="form-group">
                    <label for="prop_name" class="titleForm" >Propeller Name</label>
                        <input type="text" class="input-field" id="prop_name" required/>
                  </div>
                  <div class="form-group">
                    <label for="prop_diameter" class="titleForm" >Propeller Diameter</label>
                        <input type="number" step="0.1" class="input-field" id="prop_diameter" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="prop_speed" class="titleForm" >Speed</label>
                        <input type="text" class="input-field" id="prop_speed" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="prop_weight" class="titleForm" >Weight</label>
                        <input type="number" step="0.1" class="input-field" id="prop_weight" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="prop_price" class="titleForm" >Price</label>
                        <input type="number" step="0.1" class="input-field" id="prop_price" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="saveBtn" onclick="update_prop_table(prop_id.value, prop_name.value, prop_diameter.value, prop_speed.value, prop_weight.value, prop_price.value)">Save</button>
                  </div>
                </form>
                     </fieldset>
          </div>
        </div>
      </div>
    </div>

    <!--prop add single modal-->
    <div class="modal fade" id="prop_add_single_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-body">
             <button class="close" data-dismiss="modal">×</button>
              <fieldset class ="fieldsetForm_addProp">
                <legend class ="legendForm1">Add New Propeller</legend>

              <form class="form-horizontal" role="form" action="javascript:void(0);">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="add_single_prop_name" class="titleForm" >Propeller Name</label>
                        <input type="text" class="input-field" id="add_single_prop_name" required/>
                    </div>

                  <div class="form-group">
                    <label for="add_single_prop_diameter" class="titleForm" >Diameter</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_prop_diameter" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_prop_speed" class="titleForm" >Speed</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_prop_speed" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_prop_weight" class="titleForm"  >Weight</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_prop_weight" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                    <label for="add_single_prop_price" class="titleForm" >Prop Price</label>
                        <input type="number" step="0.1" class="input-field" id="add_single_prop_price" required pattern="[0-9]+"/>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="addBtn" onclick="add_single_to_prop_table(add_single_prop_name.value, add_single_prop_diameter.value, add_single_prop_speed.value, add_single_prop_weight.value, add_single_prop_price.value)">Add</button>
                  </div>
                </form>
                   </fieldset>
          </div>
        </div>
      </div>
    </div>

    <!--prop add multi-->
    <div class="modal fade" id="prop_add_multi_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
            <button class="close" data-dismiss="modal">×</button>
                <fieldset class ="fieldsetForm_add">
                     <legend class ="legendForm1">Add New Propellers</legend>
              <form class="form-horizontal" role="form" action="javascript:void(0);" id="prop_add_multi_form">
                {% csrf_token %}
                  <div class="load_file">
                  <label ><input type="file" id="prop_add_multi_file" hidden></label>
                 </div>
                  <div class="form-group">
                      <button type="submit" class="addBtn_multi" onclick="add_multi_to_prop_table(prop_add_multi_file.files)">Add</button>

                  </div>
                </form>
                     </fieldset>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal_pop_up_result" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3 id="result_header"></h3>
          </div>
          <div class="modal-body">
              <pre id="result_body">

              </pre>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'index/management.js' %}"></script>
  <script type="text/javascript">
    motor_table = $('#tblmotor').DataTable( {
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            data : [],
            columns: [
                        { data: 'id' },
                        { data: 'name' },
                        { data: 'kv' },
                        { data: 'weight' },
                        { data: 'price' },
                        { "defaultContent": "<button id='edit' class='update_btn' role='button'></button> <button id='delete' class='delete_btn' role='button'></button>" }
                    ]
        } );
      get_motor_table();

    bat_table = $('#tblbattery').DataTable( {
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            data : [],
            columns: [
                        { data: 'id' },
                        { data: 'name' },
                        { data: 'type' },
                        { data: 'volt' },
                        { data: 'discharge_rate' },
                        { data: 'capacity' },
                        { data: 'weight' },
                        { data: 'price' },
                        { "defaultContent": "<button id='edit' class='update_btn' role='button'></button> <button id='delete' class='delete_btn' role='button'></button>" }
                    ]
        } );

    prop_table = $('#tblprop').DataTable( {
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            data : [],
            columns: [
                        { data: 'id' },
                        { data: 'name' },
                        { data: 'diameter' },
                        { data: 'speed' },
                        { data: 'weight' },
                        { data: 'price' },
                        { "defaultContent": "<button id='edit' class='update_btn' role='button'></button> <button id='delete' class='delete_btn' role='button'></button>" }
                    ]
        } );

    $('#tblmotor tbody').on( 'click', 'button', function () {
        jQuery.noConflict();
        if (this.id == "edit")
        {
            var data = motor_table.row( $(this).parents('tr') ).data();
            $(".modal-body #motor_id").val(data.id);
            $(".modal-body #motor_name").val(data.name);
            $(".modal-body #motor_kv").val(data.kv);
            $(".modal-body #motor_weight").val(data.weight);
            $(".modal-body #motor_price").val(data.price);
            $("#motor_edit_modal").modal('show');
        }
        else
        {
            console.log('motor delete');
            var data = motor_table.row( $(this).parents('tr') ).data();
            delete_motor(data.id);
        }
    } );
  </script>
    <script src="{% static 'index/management.js' %}"></script>

</html>
