    <div id="updateContainer">
      <div id="result_msg">
      {% if alert_display %}
        {% if alert %}
          <div class="alert alert-success" id="success_alert">
            <strong>Success!</strong>
          </div>
        {% else %}
          <div class="alert alert-danger">
            <strong>Failure!</strong>
          </div>
        {% endif %}
      {% endif %}
      </div>
      <div id="tableContainer" class="tab-content">
        {% if table == "tblmotor" %}
        <div id="motor" class="tab-pane fade in active">
          <table id="{{ table }}">
            <tr >
              {% for key in keys %}
                <th>{{ key }}</th>
              {% endfor %}
              <th>Update/Delete</th>
            </tr>
            {% for row in values %}
              <tr id ="{{ row.0.1 }}">
                {% for key, value in row %}
                  {% if key == 'name' %}
                    <td><input id="{{ key }}" class="textbox-n" type="text" value="{{ value }}" style="width:100%;"></td>
                  {% else %}
                    <td><input id="{{ key }}" class="textbox-n" type="number" value="{{ value }}" style="width:100%;"></td>
                  {% endif %}
                {% endfor %}
                <td>
                    <a class="click-to-show" href="#" onclick="save_changes({{ row.0.1 }}, '{{ row.1.1 }}', {{ row.2.1 }}, {{ row.3.1 }}, {{ row.4.1 }})">SAVE</a>
                    <br>
                    <a class="click-to-show" href="#" onclick="save_changes({{ row.0.1 }}, '{{ row.1.1 }}', {{ row.2.1 }}, {{ row.3.1 }}, {{ row.4.1 }})">DELETE</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% elif table == "tblbattery" %}
        <div id="battery" class="tab-pane fade in active">
          <table >
            <tr >
              {% for key in keys %}
                <th>{{ key }}</th>
              {% endfor %}
              <th>Update/Delete</th>
            </tr>
            {% for row in values %}
              <tr id ="{{ row.0.1 }}">
                {% for key, value in row %}
                  {% if key == 'name' or key == 'type' %}
                    <td><input id="{{ key }}" class="textbox-n" type="text" value="{{ value }}" style="width:100%;"></td>
                  {% else %}
                    <td><input id="{{ key }}" class="textbox-n" type="number" value="{{ value }}" style="width:100%;"></td>
                  {% endif %}
                {% endfor %}
                <td>
                    <a class="click-to-show" href="#" onclick="save_changes({{ row.0.1 }}, '{{ row.1.1 }}', {{ row.2.1 }}, {{ row.3.1 }}, {{ row.4.1 }})">SAVE</a>
                    <br>
                    <a class="click-to-show" href="#" onclick="save_changes({{ row.0.1 }}, '{{ row.1.1 }}', {{ row.2.1 }}, {{ row.3.1 }}, {{ row.4.1 }})">DELETE</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% elif table == "tblprops" %}
        <div id="prop" class="tab-pane fade in active">
          <table >
            <tr >
              {% for key in keys %}
                <th>{{ key }}</th>
              {% endfor %}
              <th>Update/Delete</th>
            </tr>
            {% for row in values %}
              <tr>
                {% for value in row %}
                  <td>{{ value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
    </div>