<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <!-- <title>isNet Login Page</title> -->
      {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'index/drone.css' %}">
    <!--<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cuprum|Days+One|Montserrat|Numans|Philosopher|Roboto+Mono|Roboto+Slab|Yeseva+One" rel="stylesheet">-->
    <script src="{% static 'index/jquery.min.js' %}"></script>
    <script src="{% static 'index/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'index/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index/bootstrap-theme.css' %}">
</head>

<body onLoad= move()>

 <nav>
      <ul>
        <li><a class="menulogo" href="{% url 'index:index' %}"> </a></li>
        <li><a class="menuHome" href="{% url 'index:index' %}"><span class= "titleNav">Home</span></a></li>
        <li><a class="menuFlights" href="{% url 'flight_monitor:flight_monitor' %}"><span class= "titleNavF">Flights</span> </a></li>
        <li><a class="menuReviews" href="{% url 'reviews:reviews' %}"><span class= "titleNav">Reviews</span></a></li>
        <li><a class="menuSetup" href="{% url 'drone_setup:drone_setup' %}"><span class= "titleNav">Setup</span></a></li>
        <li><a class="menuMange" href="{% url 'management:management' %}"><span class= "titleNav">Management</span></a></li>
      </ul>
  </nav>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div id="myProgress">
    <div id="myBar">10%</div>
  </div>

</body>
<script type="text/javascript" src="{% static 'index/Drone.js' %}">
</script>
</html>
