
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <!-- <title>isNet Login Page</title> -->
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'index/drone.css' %}">
    <!--<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cuprum|Days+One|Montserrat|Numans|Philosopher|Roboto+Mono|Roboto+Slab|Yeseva+One" rel="stylesheet">-->
    <script src="{% static 'index/jquery.min.js' %}"></script>
    <script src="{% static 'index/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'index/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index/bootstrap-theme.css' %}">

</head>

<body class="mainBodyFlight1">
 <nav>
      <ul>
        <li><a class="menulogo" href="{% url 'index:index' %}"> </a></li>
        <li><a class="menuHome" href="{% url 'index:index' %}"><span class= "titleNav">Home</span></a></li>
        <li><a class="menuFlights" href="{% url 'flight_monitor:flight_monitor' %}"><span class= "titleNavF">Flights</span> </a></li>
        <li><a class="menuReviews" href="{% url 'reviews:reviews' %}"><span class= "titleNav">Reviews</span></a></li>
        <li><a class="menuSetup" href="{% url 'drone_setup:drone_setup' %}"><span class= "titleNav">Setup</span></a></li>
        <li><a class="menuMange" href="{% url 'management:management' %}"><span class= "titleNav">Management</span></a></li>
      </ul>
  </nav>

 <div id="wait_dialog" style="text-align:center;">
     <!--<img  src="/static/image/loader.gif" />-->
     <div style="margin-top: 10px; color:white;">
         <b>Please wait</b>
     </div>
 </div>
 <div class="modal fade" id="loader_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         <!--<div class="modal-header" style="opacity:0 !important;">-->
            <!--<h3>Please Wait...</h3>-->
          <!--</div>-->
          <!--<div class="modal-body" style="opacity:1 !important;">-->
              <!--<img src="/static/image/loader.gif"/>-->
          <!--</div>-->
        </div>
      </div>
    </div>
 <!--<div id="wait_dialog"></div>-->
    <br><br>

    <fieldset class ="fieldsetForm">

  <legend class ="legendForm">Please fill out all criteria</legend>



    <form name="frm" method="post" role="form" action="javascript:void(0);" >
    {% csrf_token %}

         <label for="Iterations" class= "titleForm"><span>Number Of Drones </span>    </label>
                <input type="number" class="input-field" name="Iterations" id="Iterations" value="" required />
                <span class = "required" id = "IterationsError"></span>
                <br><br>

<label for="drone_type" class="titleForm"><span>Body Type</span></label>

        <select id= "drone_type", name="drone_type" class="input-field" required >
            <option value=''>--Please select--</option>
            <option value= "Heli"> Heli</option>
            <option value= "Quad"> Quad</option>
            <option value= "Hexa"> Hexa</option>
            <option value= "Octa"> Octa</option>
        </select>
        <br><br>

        <label for="SizeField" class= "titleForm"><span>Size (m)</span> </label>
               <input type="text" class="input-field" name="SizeField" id="SizeField" value="" required pattern="[0-9]+" />
                <br><br>

        <label for="PayloadField" class= "titleForm"><span>Payload (Kg)</span>    </label>
                <input type="text" class="input-field" name="PayloadField" id="PayloadField" value="" required pattern="[0-9]+" />
                <br><br>

        <label for="TimeofworkField" class= "titleForm"><span>Time of work (minutes)</span>    </label>
                <input type="text" class="input-field" name="TimeofworkField" id="TimeofworkField" value="" required pattern="[0-9]+" />
                <br><br>

        <label for="RangeField" class= "titleForm"><span>Range (Km)</span>    </label>
                <input type="text" class="input-field" name="RangeField" id="RangeField" value="" required pattern="[0-9]+" />
                <br><br>

        <label for="PriceField" class= "titleForm"><span>Price ($)</span>    </label>
                <input type="text" class="input-field" name="PriceField" id="PriceField" value="" required pattern="[0-9]+" />
                <br><br>

      <input type="submit" class="submitBtn" id="demo" value="Submit" onclick= "submit_setup_form(Iterations.value, drone_type.value, SizeField.value, PayloadField.value, TimeofworkField.value, RangeField.value, PriceField.value)"  />

        </form>


  </fieldset>

<!--<div class="loader"></div>-->

</body>

<script type="text/javascript" src="{% static 'index/Drone.js' %}"></script>
</html>
